/* View Panel */
#subscribe-to-comments-icon{
 background-image:url(images/subscribe-to-comments.png);
 background-position:center; 
 background-repeat:no-repeat; 
}
#subscribe-to-comments-icon.rtl{
 float:right;
}
.wrap form p,.wrap form ul{
 margin:6px;
}
.wrap form p span{
 float:left;
}
.wrap form p span.rtl{
 float:right;
}
.wrap form a.small-text{
 font-size:.8em;
}
.wrap h2.medium{
 border-bottom:1px solid #CCCCCC;
 font-size:.9em;
 margin-bottom:5px;
 padding-bottom:0;
}
.wrap .nav-tab{
 border-style:dashed;
 color:#464646;
 font-size:1em;
 font-style:normal;
 line-height:1.1em;
 padding:10px;
 text-decoration:none;
}
.wrap a.nav-tab.nav-tab-inactive:hover{
 background-color:#fff;
}
.wrap .nav-tab.nav-tab-active{
 border-style:solid;
 font-weight:700;
 position:relative;
}
.form-table th{
 padding:3px 10px;
}
.form-table td{
 padding:3px 10px;
}
.form-table td.description{
 white-space:normal;
}
.form-table td.narrowcolumn{
 width:100px;
}
.form-table td.shortrow{
 padding:0 10px 20px;
 white-space:normal;
}
.form-table input{
 margin:0 8px 0 0;
}
.form-table.rtl input{
 margin:0 0 0 8px;
}
.form-table input.longtext{
 width:400px;
}